<aside id="categories-3" class="widget widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
	<li class="cat-item cat-item-4"><a href="http://funderfulworld.com/category/older-travel-tales-2010-and-earlier/" >Older Travel Tales (2010 and earlier)</a> (8)
</li>
	<li class="cat-item cat-item-433"><a href="http://funderfulworld.com/category/pune/" >Pune</a> (18)
</li>
	<li class="cat-item cat-item-5"><a href="http://funderfulworld.com/category/reading-list/" title="Currently reading...">Reading List</a> (9)
<ul class='children'>
	<li class="cat-item cat-item-9"><a href="http://funderfulworld.com/category/reading-list/bookworm-english-books/" >Bookworm (English books)</a> (4)
</li>
	<li class="cat-item cat-item-13"><a href="http://funderfulworld.com/category/reading-list/la-lecture-french-books/" >La Lecture (French books)</a> (5)
</li>
</ul>
</li>
	<li class="cat-item cat-item-6"><a href="http://funderfulworld.com/category/reflections/" >Reflections</a> (14)
</li>
	<li class="cat-item cat-item-7"><a href="http://funderfulworld.com/category/thetravelbug/" title="Weekend breaks, long vacations, destinations galore! :)">TheTravelBug</a> (125)
<ul class='children'>
	<li class="cat-item cat-item-8"><a href="http://funderfulworld.com/category/thetravelbug/asia/" >Asia</a> (58)
	<ul class='children'>
	<li class="cat-item cat-item-11"><a href="http://funderfulworld.com/category/thetravelbug/asia/india/" >India</a> (54)
</li>
	<li class="cat-item cat-item-16"><a href="http://funderfulworld.com/category/thetravelbug/asia/thailand/" >Thailand</a> (1)
</li>
	<li class="cat-item cat-item-17"><a href="http://funderfulworld.com/category/thetravelbug/asia/uae/" >UAE</a> (3)
</li>
	</ul>
</li>
	<li class="cat-item cat-item-10"><a href="http://funderfulworld.com/category/thetravelbug/europe/" >Europe</a> (62)
	<ul class='children'>
	<li class="cat-item cat-item-18"><a href="http://funderfulworld.com/category/thetravelbug/europe/austria/" >Austria</a> (4)
</li>
	<li class="cat-item cat-item-19"><a href="http://funderfulworld.com/category/thetravelbug/europe/belgium/" >Belgium</a> (1)
</li>
	<li class="cat-item cat-item-491"><a href="http://funderfulworld.com/category/thetravelbug/europe/czech-republic/" >Czech Republic</a> (3)
</li>
	<li class="cat-item cat-item-398"><a href="http://funderfulworld.com/category/thetravelbug/europe/france/" >France</a> (3)
</li>
	<li class="cat-item cat-item-295"><a href="http://funderfulworld.com/category/thetravelbug/europe/germany/" >Germany</a> (4)
</li>
	<li class="cat-item cat-item-12"><a href="http://funderfulworld.com/category/thetravelbug/europe/italy/" >Italy</a> (39)
</li>
	<li class="cat-item cat-item-14"><a href="http://funderfulworld.com/category/thetravelbug/europe/luxembourg/" >Luxembourg</a> (3)
</li>
	<li class="cat-item cat-item-229"><a href="http://funderfulworld.com/category/thetravelbug/europe/poland/" >Poland</a> (1)
</li>
	<li class="cat-item cat-item-15"><a href="http://funderfulworld.com/category/thetravelbug/europe/switzerland/" >Switzerland</a> (3)
</li>
	</ul>
</li>
	<li class="cat-item cat-item-355"><a href="http://funderfulworld.com/category/thetravelbug/north-america-thetravelbug/" >North America</a> (3)
	<ul class='children'>
	<li class="cat-item cat-item-356"><a href="http://funderfulworld.com/category/thetravelbug/north-america-thetravelbug/usa/" >USA</a> (2)
</li>
	</ul>
</li>
</ul>
</li>
	<li class="cat-item cat-item-1"><a href="http://funderfulworld.com/category/uncategorized/" >Uncategorized</a> (2)
</li>
		</ul>
</aside>
