<div class="container clearfix">
  <div class="hgroup-wrap clearfix">

    <section class="hgroup-right">
      <div class="social-icons clearfix">
	<ul>
	  <li class="facebook">
	    <a href="https://www.facebook.com/{{ .Site.Social.facebook }}" title="FunderfulWorld on Facebook" target="_blank"></a>
	  </li>
	  <li class="twitter">
	    <a href="https://twitter.com/{{ .Site.Social.twitter }}" title="FunderfulWorld on Twitter" target="_blank"></a>
	  </li>
	  <li class="rss">
	    <a href="{{ .Site.Social.feed }}" title="FunderfulWorld on RSS" target="_blank"></a>
	  </li>
	</ul>
      </div><!-- .social-icons -->
    </section><!-- .hgroup-right -->
    
    <hgroup id="site-logo" class="clearfix">
      <h1 id="site-title">
	<a href="/" rel="home">
	  {{ .Site.Title }}
	</a>
      </h1>
      <h2 id="site-description">{{ .Site.Params.site_description }}</h2>
    </hgroup><!-- #site-logo -->
    
  </div><!-- .hgroup-wrap -->
</div><!-- .container -->
